<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="blue">
                    <h4 class="title">Whitelist</h4>
                    <p class="category">Purchase codes from author</p>
                </div>
                <div class="card-content">
                    <alert></alert>
                    <form name="formSearch" (ngSubmit)="formSearch.form.valid && add()" #formSearch="ngForm" novalidate>
                        <div class="row"> 
                            <div class="col-md-5">
                                <div class="form-group form-black label-floating is-empty" [ngClass]="{ 'has-error': formSearch.submitted && !purchaseCode.valid }">
                                    <label class="control-label">Purchase Code</label>
                                    <input type="text" class="form-control" name="purchaseCode" [(ngModel)]="model.purchaseCode" #purchaseCode="ngModel" required>
                                    <div *ngIf="formSearch.submitted && !purchaseCode.valid" class="help-block">Purchase Code is required</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" [disabled]="loading" class="btn btn-success">Generate</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <div class="card-content">
                    <div class="row">
                        <table class="table">
                            <thead class="text-success">
                                <tr>
                                    <th><strong>Purchase Code</strong></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tableData">
                                    <td>{{row.purchase_code}}</td>
                                    <td>
                                        <a [routerLink]="[this.getPurchaseCodeDetailLink(row.purchase_code)]"
                                            class="btn btn-success btn-sm">Detail</a>
                                        <button class="btn btn-success btn-sm" (click)="remove(row.purchase_code)">Remove</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
