<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="blue">
                    <h4 class="title">Change Password</h4>
                    <p class="category">Provide current and new password</p>
                </div>
                <div class="card-content">
                    <alert></alert>
                    <form name="form" (ngSubmit)="f.form.valid && changePassword()" #f="ngForm" novalidate>
                        <div class="row"> 
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !oldPassword.valid }">
                                    <label class="control-label">Current Password</label>
                                    <input type="password" class="form-control" name="oldPassword" [(ngModel)]="model.oldPassword" #oldPassword="ngModel" required>
                                    <div *ngIf="f.submitted && !oldPassword.valid" class="text-danger">Current password is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newPassword.valid }">
                                    <label class="control-label">New Password</label>
                                    <input type="password" class="form-control" name="newPassword" [(ngModel)]="model.newPassword" #newPassword="ngModel" required>
                                    <div *ngIf="f.submitted && !newPassword.valid" class="text-danger">New password is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newPassword.valid }">
                                    <label class="control-label">Confirm Password</label>
                                    <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" required>
                                    <div *ngIf="f.submitted && !confirmPassword.valid" class="text-danger">Confirm password is required</div>
                                </div>
                            </div>
                        </div>
                        <button [disabled]="loading" class="btn btn-info pull-right">Submit</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
