<div class="main-content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Total Purchase Codes</p>
                            <h3 class="title">{{model.totalPurchaseCodes}}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">highlight_off</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Expire Purchase Codes</p>
                            <h3 class="title">{{model.expirePurchaseCodes}}</h3>
                        </div>
                    </div>
                </div>
                <!--<div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="blue">
                            <i class="material-icons">assignment</i>
                        </div>
                        <div class="card-content">
                            <p class="category">New Feedback</p>
                            <h3 class="title">{{model.newBuyerFeedback}}</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">assignment_late</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Unresolved</p>
                            <h3 class="title">{{model.unresolveBuyerFeedback}}</h3>
                        </div>
                    </div>
                </div>-->
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="blue">
                            <h4 class="title">Purchase Code</h4>
                            <p class="category">Current 10 purchase code. <a [routerLink]="[this.getPurchaseCodeLink()]">View More</a></p>
                        </div>
                        <div class="card-content">
                            <alert></alert>
                            <form name="formSearch" (ngSubmit)="formSearch.form.valid && search()" #formSearch="ngForm" novalidate>
                                <div class="row"> 
                                    <div class="col-md-5">
                                        <div class="form-group form-black label-floating is-empty" [ngClass]="{ 'has-error': formSearch.submitted && !purchaseCode.valid }">
                                            <label class="control-label">Purchase Code</label>
                                            <input type="text" class="form-control" name="purchaseCode" [(ngModel)]="model.purchaseCode" #purchaseCode="ngModel" required>
                                            <div *ngIf="formSearch.submitted && !purchaseCode.valid" class="help-block">Purchase Code is required</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-success">Search</button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <table class="table">
                                    <thead class="text-success">
                                        <tr>
                                            <th><strong>Purchase Code</strong></th>
                                            <th><strong>Item name</strong></th>
                                            <th><strong>Buyer name</strong></th>
                                            <th><strong>Tries Allowed</strong></th>
                                            <th><strong>Total Attempt</strong></th>
                                            <th><strong>Blacklist</strong></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of tableData">
                                            <td>{{row.purchase_code}}</td>
                                            <td>{{row.item_name}}</td>
                                            <td>{{row.buyer_name}}</td>
                                            <td>{{row.total_tries}}</td>
                                            <td>{{row.total_attempt}}</td>
                                            <td>
                                                <span *ngIf="row.blacklist==0">No</span>
                                                <span *ngIf="row.blacklist==1">Yes</span>
                                            </td>
                                            <td>
                                                <a [routerLink]="[this.getPurchaseCodeDetailLink(row.purchase_code)]"
                                                    class="btn btn-success btn-sm">Detail</a>
                                                <button *ngIf="row.blacklist==0" class="btn btn-success btn-sm" (click)="updateBlacklist(row.purchase_code, '1')">Blacklist</button>
                                                <button *ngIf="row.blacklist==1" class="btn btn-success btn-sm" (click)="updateBlacklist(row.purchase_code, '0')">Remove Blacklist</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="blue">
                            <h4 class="title">Buyer Feedback</h4>
                            <p class="category">Last 10 unread messages. <a href="/author-admin/buyer-feedback">View More</a></p>
                        </div>
                        <div class="card-content">
                            <table class="table">
                                <thead class="text-success">
                                    <tr>
                                        <th><strong>Date</strong></th>
                                        <th><strong>Purchase Code</strong></th>
                                        <th><strong>Status</strong></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let row of tableData">
                                        <td>{{row.created_date}}</td>
                                        <td>{{row.purchase_code}}</td>
                                        <td>
                                            <span *ngIf="row.status==0">Unread</span>
                                            <span *ngIf="row.status==1">Read</span>
                                            <span *ngIf="row.status==2">Resolved</span>
                                        </td>
                                        <th><a href="/author-admin/buyer-feedback/{{row.id}}">Detail</a></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>-->

        </div>
    
</div>
